/*Media query for Desktop - Start */

/*
**
*/
@media screen and (min-width: 1240px) {
  body {
    margin: 0 12%;
  }

  .aboutText {
    font-size: 1.5em;
  }

  .carouselCell {
    /* background-color: gold; */
    width: 25%;
    height: 520px;
  }

  .signUp {
    margin-bottom: 5px;
    height: 325px;
    width: 100%;
    text-align: center;
    line-height: 25px;

    background-image: url(/images/wave-bkgd2.jpg);
    background-position: left, center 50px, center;
    background-repeat: repeat, no-repeat, repeat;
    background-size: cover, contain, cover;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .signUp p {
    font-size: 1.5em;
  }

  .emailInput {
    width: 30%;
    height: 40px;
    border: white;
    border-radius: 50px;
  }

  .emailButton {
    width: 12%;
    height: 35px;
    top: 10%;
    right: 35.5%;
  }
}
