/*Media query for Desktop - Start */

/*
**
*/
@media screen and (min-width: 1240px) {
  /* Media Query >= Desktop: navClass class styling: Start */

  .imageLogo img {
    width: 60%;
  }
  .imageCart img {
    width: 20%;
  }

  .carouselCell {
    /* background-color: gold; */
    width: 25%;
    height: 520px;
  }
  /*
  **
  */
  /* Media Query >= Desktop: aboutSection class styling: Start */

  .aboutSection {
    font-size: 19pt;
    /* height: 175px; */
  }

  .aboutText {
    font-size: 19pt;
    margin-left: 240px;
    margin-right: 240px;
    line-height: 1.75;
  }

  /* Media Query >= Desktop: aboutSection class styling: End */
  /*
    **
    */
  /* Media Query >= Desktop: signUp class styling: Start */

  .signUp {
    margin-bottom: 5px;
    height: 325px;
    width: 100%;
    text-align: center;
    line-height: 25px;

    background-image: url(/images/wave-bkgd2.jpg);
    background-position: left, center 50px, center;
    background-repeat: repeat, no-repeat, repeat;
    background-size: cover, contain, cover;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .signUp p {
    padding: 0 300px 0 300px;
    font-size: 15pt;
  }

  .emailInput {
    width: 30%;
    height: 40px;
    border: white;
    border-radius: 50px;
  }

  .emailButton {
    background-color: #e2574c;
    width: 12%;
    height: 35px;
    border: none;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    right: 35.5%;
  }

  /* Media Query >= Desktop: signUp class styling: End */
}

/* Media Query >= Desktop: Footer class styling: Start */

.socialIconsDiv {
  width: 40%;
  padding: 0 0 0 60%;
}
.socialIconsUl li {
  display: flex;
}

/* Media Query >= Desktop: Footer class styling: End */

/*Media query for Desktop - End */
