/* this is the mobile-first code */

.container {
  width: 1240px;
  margin: 0 auto;
}

.myfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  padding: 20px;
  text-align: center;
}

.social-icons {
  display: flex;
  height: 150;
  padding: 0, 0, 0, 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-color: red;
}

.address-block {
  display: flex;
  margin: 1rem 0;
  height: 150;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  background-color: red;
}
/* for tablet view */
@media screen and (min-width: 600px) {
  body {
    background: green;
  }
}
/* for desktop */
@media screen and (min-width: 1240px) {
  body {
    background: purple;
  }
}
