.container {
  width: 1240px;
  margin: 0 auto;
}

.myfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  padding: 20px;
  text-align: center;
}

.social-icons {
  display: flex;
  height: 150;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: red;
}

.address-block {
  display: flex;
  height: 150;
  padding: 20px;
  flex-direction: column;
  align-items: left;
  background-color: red;
}
