/* this is the mobile-first styling CSS code */

/* Typography */
@font-face {
  font-family: "Raleway Light";
  src: url("../fonts/Raleway-Light.eot");
  src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Light.woff2") format("woff2"),
    url("../fonts/Raleway-Light.woff") format("woff"),
    url("../fonts/Raleway-Light.ttf") format("truetype"),
    url("../fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway-Medium.woff") format("woff"),
    url("../fonts/Raleway-Medium.ttf") format("truetype"),
    url("../fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Medium Italic";
  src: url("../fonts/Raleway-MediumItalic.eot");
  src: url("../fonts/Raleway-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Raleway-MediumItalic.woff2") format("woff2"),
    url("../fonts/Raleway-MediumItalic.woff") format("woff"),
    url("../fonts/Raleway-MediumItalic.ttf") format("truetype"),
    url("../fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Raleway Light Italic";
  src: url("../fonts/Raleway-LightItalic.eot");
  src: url("../fonts/Raleway-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Raleway-LightItalic.woff2") format("woff2"),
    url("../fonts/Raleway-LightItalic.woff") format("woff"),
    url("../fonts/Raleway-LightItalic.ttf") format("truetype"),
    url("../fonts/Raleway-LightItalic.svg#Raleway-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display Italic";
  src: url("../fonts/PlayfairDisplay-Italic.eot");
  src: url("../fonts/PlayfairDisplay-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display Bold";
  src: url("../fonts/PlayfairDisplay-Bold.eot");
  src: url("../fonts/PlayfairDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display Bold Italic";
  src: url("../fonts/PlayfairDisplay-BoldItalic.eot");
  src: url("../fonts/PlayfairDisplay-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff"),
    url("../fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display Regular";
  src: url("../fonts/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Colours */

.container {
  font-family: Raleway Light;
  font-size: 14px;
  color: #2d2d2d;
  /* width: 599px; */
  /* color: yellow; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Playfair Display;
}

h2 {
  font-size: 20pt;
}

h3,
button,
a:link,
.menuMain {
  color: #e2574c;
}

a:hover {
  color: #b64036;
}

nav {
  background-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.signUp {
  margin-top: 10px;
  background-image: url(/images/wave-bkgd.jpg);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.emailSubmit {
  position: relative;
}

.emailInput {
  width: 60%;
  height: 65px;
  border: white;
  border-radius: 50px;
}

.emailButton {
  background-color: #e2574c;
  width: 25%;
  height: 55px;
  border: none;
  border-radius: 50px;
  position: absolute;
  top: 10%;
  right: 20%;
}

.carousel {
  color: #2d2d2d;
  text-align: center;
  font-size: 2em;
}
.carousel p {
  color: #969696;
  font-family: "Raleway Medium";
  text-transform: uppercase;
  font-size: 0.5em;
  margin-bottom: 25px;
}
.carousel h3 {
  color: #e2574c;
  font-family: "Playfair Display";
  margin-bottom: 25px;
}

.cart-button {
  background: black;
  color: white;
  border: none;
  height: 30px;
  width: 90px;
  border-radius: 25px;
  font-family: "Raleway Medium";
}

.imageLogo {
  background-color: lightsalmon;
  display: flex;
  height: 40%;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
}
.imageLogo img {
  width: 60%;
}

.imageCart {
  background-color: purple;
  display: flex;
  height: 40%;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.imageCart img {
  width: 20%;
}

.menuMain {
  background-color: green;
  height: 25px;
  width: 100%;
  display: flex;
  order: 2;
  justify-content: space-around;
  /* align-content: space-between; */
  align-items: center;
}

.heroSection {
  width: 100%;
  height: 300px;
  font-size: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/banner-girl.png), url(/images/flower-bkgd.jpg);
  background-position: left, center 50px, center;
  background-repeat: repeat, no-repeat, repeat;
  background-size: cover, contain, cover;
}

.aboutSection {
  background-color: green;
  height: 1.5in;
  padding: 0 5% 0 5%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* shop-grid strts here */

.shop-grid {
  display: flex;
  flex-direction: column;
}

.mens {
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)),
    url(/images/mens-category.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 2.5%;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 2.5%;
}
.trends {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)),
    url(/images/trends-category.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 175px;
  width: 50%;
}
.glasses {
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)),
    url(/images/glasses-category.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  width: 47.5%;
}
.third-row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 2.5%;
}
.sale {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)),
    url(/images/sale-category.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 175px;
  width: 50%;
}
.bags {
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)),
    url(/images/bags-category.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  width: 47.5%;
}
.womens {
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)),
    url(/images/womens-category.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 2.5%;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* shop-grid stops here */

/* style flickity at the cell level - move this section after the Mosted loced products */

.carousel {
  height: 525px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.carousel-cell {
  width: 100%;
  height: 500px;
}

/*
.signUp {
  background-color: yellowgreen;
  background-image: url(/images/wave-bkgd.jpg);
  background-position: bottom center;
  background-repeat: round;
  height: 2in;
  padding: 0 5% 0 5%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/
.submitEmail {
  display: flex;
  background-color: blue;
  border: 5px solid #d8786c;
  border-radius: 5px;
}

footer {
  /* background-color: #242424; */
  /* background-color: green; */
  /* width: 375; */
  height: 0.93in;
}

.contact-info {
  background-color: red;
  height: 200px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-icons {
  background-color: hotpink;
  height: 75px;
  padding: 0 25% 0 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.social-media-text {
  display: none;
}
/*Media query for anything larger than mobile (tablet, desktop) */
@media screen and (min-width: 600px) {
  .container {
    background-color: blue;
    font-size: 16px;
  }

  .imageLogo {
    display: flex;
    height: 60px;
    width: 20%;

    justify-content: center;
    align-items: center;
  }

  .menuMain {
    display: flex;
    height: 60px;
    width: 60%;

    order: 0;
  }

  .imageCart {
    display: flex;
    height: 60px;
    width: 20%;
    /* padding-right: 1px; */
    justify-content: center;

    align-items: center;
  }
  .imageCart img {
    width: 40%;
  }

  .theFooter {
    display: flex;
    justify-content: space-between;
  }

  .contact-info {
    background-color: red;
    height: 200px;
    width: 40%;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .social-icons {
    background-color: hotpink;
    height: 200px;
    width: 33%;
    padding: 0 25% 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .testMe {
    background-color: yellowgreen;
    width: 33%;
  }
  .social-icons li {
    display: flex;
  }

  .social-media-text {
    display: flex;
  }
}
